    /* Globel variable */
:root{
    --primary: #12bdff;
    --dark-primary: #1b1f24;
    --secondary: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background: var(--dark-primary);
    padding: 20px ;
    color: var(--secondary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header .logo{
   color: var(--primary);
   font-weight: bold;
   letter-spacing: 1px; 
}
header a{
    text-decoration: none;
    color: var(--secondary);
}
ul{
    display: flex;
}
ul > li{
  list-style: none;
  margin-right: 20px;
}
ul > li > a:hover{
    color: var(--primary);
}
.btn-cv{
    padding: 10px 20px;
    font-weight: bold;
    background: var(--dark-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    cursor: pointer;
}
.btn-cv:hover{
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary);
}


/* Section Hero Home Page */

.hero-section{
    background: var(--dark-primary);
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 120px 0px 120px;
    letter-spacing: 2px;
}
.hero-section_title{
    color: #c4c4c4;
    font-size: 2rem;
}
.hero-section_title span{
    color: var(--primary);
}
.social-icons{
    margin: 20px 0;
    display: flex;
}
.social-icons li{
    list-style: none;
    margin-left: 15px;
}
.social-icons li > a {
    color: var(--secondary);
}
.social-icons li a > i{
    font-size: 1.2rem;
}
.social-icons li a:hover {
    color: var(--primary);
}
.btns{
    margin-right: 15px;
}
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--primary);
    border: none;
    cursor: pointer;
}
.btn:hover {
    background: rgb(22, 121, 227);
    color: var(--secondary);
}  