    /* Globel variable */
:root{
    --primary: #12bdff;
    --dark-primary: #1b1f24;
    --secondary: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header {
    background: var(--dark-primary);
    padding: 20px ;
    color: var(--secondary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header .logo{
   color: var(--primary);
   font-weight: bold;
   letter-spacing: 1px; 
}
header a{
    text-decoration: none;
    color: var(--secondary);
}
header  ul{
    display: flex;
}
ul > li{
  list-style: none;
  margin-right: 20px;
}
ul > li > a:hover{
    color: var(--primary);
}
.btn-cv{
    padding: 10px 20px;
    font-weight: bold;
    background: var(--dark-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    cursor: pointer;
}
.btn-cv:hover{
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary);
}


/* Section Hero Home Page */

.hero-section{
    background: var(--dark-primary);
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 120px 0px 120px;
    letter-spacing: 2px;
}
.hero-section_title{
    color: #c4c4c4;
    font-size: 2rem;
}
.hero-section_title span{
    color: var(--primary);
}
.social-icons{
    margin: 20px 0;
    display: flex;
}
.social-icons li{
    list-style: none;
    margin-left: 15px;
}
.social-icons li > a {
    color: var(--secondary);
}
.social-icons li a > i{
    font-size: 1.2rem;
}
.social-icons li a:hover {
    color: var(--primary);
}
.btns{
    margin-right: 15px;
}
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--primary);
    border: none;
    cursor: pointer;
}
.btn:hover {
    background: rgb(22, 121, 227);
    color: var(--secondary);
}  

/* About me section */

.about-section{
    background: #22282f;
    color: var(--secondary);
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    box-shadow: 10px 15px 40px var(--primary);
}
.about-section-desc {
    margin-left: 100px;
    max-width: 450px;
}
.about-section-desc > h4{
    font-size: 30px;
    font-weight: bold;
}
.about-section-desc h4 > span{
    color: var(--primary);
}
.about-section-desc ul{
    margin: 10px 0;
}
.about-section-desc  li{
    margin-bottom: 8px;
    color: gray;
}
.about-section-desc li > strong{
    color: var(--secondary);
}
.about-section-desc li > a{
    text-decoration: none;
    color: gray;
}

/* My skill section */

.skill-section{
    background: var(--dark-primary);
    color: var(--secondary);
    padding: 60px;
    text-align: center;
}
.skill-section span {
    color: var(--primary);
}
.skill-section-title{
    font-size: 1.3rem;
    font-weight: boldskill
}    
.skill-section-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-section-box{
    background-color: #22282f;
    padding: 60px 30px;
    max-width: 300px;
    text-align: left;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 30px;
    cursor: pointer;
    transition: 1s;
}
.skill-section-box:hover{
    background-color: #1b1f24;
}
.skill-section-box p{
    color: gray;
    font-size: 14px;
}
.skill-section-box a{
    color: #feda75;
    margin-top: 20px;
    text-decoration: none;
}
.skill-section-box-desc {
    margin-top: 20px;
    margin-bottom: 10px;

}
.skill-section-box-desc p{
    padding-top: 10px;
    line-height: 20px;
}
.skill-section-icon{
    background: var(--primary);
    padding: 10px;
    border-radius: 50%;
}
.skill-section-icon i{
    color: var(--secondary);
}
.skill-section-icon:hover{
    background-color: var(--dark-primary);
}

    /* Works section */

.works-section{
    background: #22282f;
    text-align: center;
}
.works-section h4{
    padding-top: 40px;
    font-size: 1.3rem;
    color: var(--secondary);
}
.works-section h4 > span{
    color: var(--primary);
}
.works-section a{
    text-decoration: none;
}
.section-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.works-section-box-items {
    display: flex;
    align-items: center;
    padding: 60px 30px;
    margin-left: 3px;
}
.works-section-box img{
    width: 250px;
    border-radius: 5px;
}
.works-section-box-items li{
    position: relative;
    transition: 1s;
}
.works-section-box-items li:hover{
    transform: scale(1.3);
    z-index: 2;
}
.works-section-view{
    position: absolute;
    top: 70%;
    left: 30%;
}
.works-section-view h5{
    font-size: 15px;
    color: var(--secondary);
    margin-bottom: 2px;
}
.works-section-view a{
    font-size: 14px;
    color: var(--primary);
}

    /* Contact section */

.contact-section{
    background: var(--dark-primary);
    padding: 40px;
    color: var(--secondary);
    text-align: center;
}
.contact-section span{
    color: var(--primary);
}
.contact-section h4{
    font-size: 1.3rem;
    margin: 20px 0;
}
.contact-section form  input,
textarea {
    padding: 5px 10px;
    outline: none;
    width: 350px;
    border: none;
    border-radius: 5px;
    margin-bottom: 7px;
}

    /* Footer section */

footer {
    background-color: var(--dark-primary);
    color: gray;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}
footer a {
    text-decoration: none;
    color: var(--primary);
}

    /* Media queries */

@media only screen and (max-width: 600px){
        header{
            flex-direction: column;
        }
        header > *{
            margin-bottom: 10px;
        }
        /* Hero section */
        .hero-section {
            flex-direction: column;
            padding: 40px;
        }
        .hero-section-img{
            margin-top: 4rem !important ;
        }
        /* About section */
        section.about-section {
            flex-direction: column;
        }
        .about-section-desc {
            margin-left: 0;
            margin-top: 30px;
        }
        /* My skills */
        .skill-section{
            padding: 30px 10px;
        }
        .skill-section-items {
            align-items: center;
            flex-direction: column;
        }
        .skill-section-box{
            margin-bottom: 20px;
            width: 100%;
            margin-right: 0;
        }
        /* My works */
        .works-section {
            padding: 30px 10px;
        }
        .works-section-box{
            flex-direction: column;
            width: 100%;
            align-items: center;
            margin-right: 0;
        }
        .works-section-box-items{
            align-items: center;
            justify-content: start;
            flex-direction: column;
        }
        .works-section-box img {
            padding-bottom: 1rem;
            width: 300px;
            padding-left: 12px;
            border-radius: 10px;
        }
        .works-section-box-items li{
            transition: 1s;
        }
        .works-section-box-items li:hover{
            transform: scale(1.2);
            z-index: 3;
        }
        /* Contact section */
        .contact-section form input,
        textarea {
            width: 100%;
        }
    }
